.textbg-display {
	width: max-content;
	height: 1.2em;
	margin: 0;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: .5rem;
	opacity: 1;
	background-color: var(--companion-left-sidebar-bg);
	color: var(--companion-left-sidebar-color);
	border-radius: 0 0 .75rem .75rem;
	text-align: center;
	z-index: 1001;
	transition-duration: .25s;
}

@keyframes pulse {
	0%, 100% {
		background-color: var(--companion-left-sidebar-bg);
	}
	50% {
		backdrop-filter: brightness(1.5);
	}
}
