.wl_inactive {
  background-color: rgba(255,0,0,1);
  background-blend-mode:multiply;
  color: white;
}

.wl_active {
  background-color: rgba(0, 255, 0, 1);
  background-blend-mode:multiply;
  color: black;
}